.popup {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: visibility .2s, opacity .2s linear;
}

.popup::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  background-size: cover;
  opacity: .5;
  z-index: 25;
  cursor: pointer;
}