.header__logo {
  display: block;
  max-width: 100%;
}

@media screen and (max-width: 917px) {

  .header__logo {
    margin: 0 0 0 19px;
  }

}

@media screen and (max-width: 400px) {

  .header__logo {
    margin: 0 0 0 27px;
    max-width: 103px;
  }

}