.form__button {
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 2px;
  background-color: #000;
  cursor: pointer;
}

.form__button:hover {
  opacity: .8;
}

@media screen and (max-width: 560px) {

  .form__button {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
  }
  
}