.form__error_type_description {
  margin: 0 0 15px 0;
  min-height: 30px;
}

@media screen and (max-width: 560px) {

  .form__error_type_description {
    margin: 0 0 5px 0;
    min-height: 45px;
  }

}